@model IEnumerable<WebApplication2.Models.empdata>


<table class="table-bordered">
    <tr>
        <th>
            Name
        </th>
        <th>
            Designation
        </th>
    </tr>
  
    <tr>
        <td>
           Alex
        </td>
        <td>
            Programmer
        </td>
        
    </tr>
  
</table>



