@model COOKIEDEMO2.Models.CookieStore
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


Employee Name : @Html.Label(COOKIEDEMO2.Models.CookieStore.GetCookie("EMP"))


<br />
<br />
<br />

@Html.ActionLink("Go To C1 Controller View Page", "Show", "C1")
