 
<table class="table-bordered" >
    <tr>
        <td>
            First Number :
        </td>
        <td>
            @ViewBag.a1
        </td>
    </tr>
    <tr>
        <td>
            Second Number :
        </td>
        <td>
            @ViewBag.b1
        </td>
    </tr>
    <tr>
        <td>
            Result :
        </td>
        <td>
            @ViewBag.c
        </td>
    </tr>
</table>
