@Styles.Render("~/Content/cust.css")

<h2>Demo to Use Custom CSS using BundleConfig.cs</h2>
<br />
<h3>Class Used from bootstrap class</h3>
<hr />
<table class="table-bordered">
    <tr>
        <td>
            Class Name :
        </td>
        <td>
            table-bordered
        </td>
    </tr>
</table>
<br />
<div>
    <button type="button" class="btn btn-warning">Warning</button>
</div>
<hr />
<h3>Class Used from Custom class</h3>
<hr />
<table class="table-borderedCustom">
    <tr>
        <td>
            Class Name :
        </td>
        <td>
            table-borderedCustom
        </td>
    </tr>
</table>
<br />
<div>
    <button type="button" class="myButton">Warning</button>
</div>
<hr />
<h3>Class Used from Custom class At view Level</h3>
<hr />
<div>
    <button type="button" class="myButton1">Warning</button>
</div>

